--extra-index-url https://download.pytorch.org/whl/cu128
torch>=2.8,<2.10
torchaudio>=2.8,<2.10
fastapi
uvicorn[standard]
huggingface-hub
pydantic
python-multipart
silero-vad
websockets
requests
numpy
aiohttp
psutil
git+https://github.com/LATICE-AI/whisper-s2t.git
